/**************/
/* Constantes */
/**************/

$bg-color : #282c34;
$bg-color-light : lighten(#282c34, 15%);
$bg-text-color : #fffdd8;

$light-bg-clock : #0ac3a7;
$dark-bg-clock : #078975;

$find-color : #CEC64F;

$fruit-size : 100px;

/***************/
/*  Functions  */
/***************/

/* Donne la position en haut d'une fruit à partir de son index */
@function get-fruit-height($index) {

	// Si l'index est incohérent, on prend l'index 0 par défaut
	@if ($index < 0 or $index > 17) {
		$index : 0;
	}

  @return -$index * $fruit-size;
}

/**************/
/*  Elements  */
/**************/

body {
  background-color : $bg-color;
}

h1 {
  color : $bg-text-color;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 900;
  text-align: center;
  margin-top: 2vmin;
}

label {
	color : $bg-text-color;
}

/***************/
/*    Board    */
/***************/

.board {
  border: 3px solid $light-bg-clock;
  background-color: $bg-color-light;
  margin: 10px;
}

/***************/
/*     Card    */
/***************/

.card {
  border : 8px solid $bg-color-light;
  border-radius: 1.5em;
  margin: 0px !important;
  height: 120px;
}

.card-hide {
  background-color: $dark-bg-clock;
  background-image: url("/images/interrogation.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  margin:0;
  padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.card-find {
  border : 6px solid $find-color !important;
}

.hide {
  opacity: 0;
}

/***************/
/*    Fruit    */
/***************/

.fruit {
  background-image: url("/images/cards.png") !important;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100%;
  width: 100%;
}

.red-apple {
  @extend .fruit;
  background-position-y: get-fruit-height(0);
}

.banana {
  @extend .fruit;
  background-position-y: get-fruit-height(1);
}

.orange {
  @extend .fruit;
  background-position-y: get-fruit-height(2);
}

.green-lemon {
  @extend .fruit;
  background-position-y: get-fruit-height(3);
}

.cranberry {
  @extend .fruit;
  background-position-y: get-fruit-height(4);
}

.peach {
  @extend .fruit;
  background-position-y: get-fruit-height(5);
}

.yellow-lemon {
  @extend .fruit;
  background-position-y: get-fruit-height(6);
}

.strawberry {
  @extend .fruit;
  background-position-y: get-fruit-height(7);
}

.green-apple {
  @extend .fruit;
  background-position-y: get-fruit-height(8);
}

.peach2 {
  @extend .fruit;
  background-position-y: get-fruit-height(9);
}

.grapes {
  @extend .fruit;
  background-position-y: get-fruit-height(10);
}

.watermelon {
  @extend .fruit;
  background-position-y: get-fruit-height(11);
}

.purple-plum {
  @extend .fruit;
  background-position-y: get-fruit-height(12);
}

.perry {
  @extend .fruit;
  background-position-y: get-fruit-height(13);
}

.red-cherry {
  @extend .fruit;
  background-position-y: get-fruit-height(14);
}

.raspberry {
  @extend .fruit;
  background-position-y: get-fruit-height(15);
}

.mango {
  @extend .fruit;
  background-position-y: get-fruit-height(16);
}

.yellow-cherry {
  @extend .fruit;
  background-position-y: get-fruit-height(17);
}

/***************/
/*   Progress  */
/***************/

.progress {
	background-color : $bg-color;
	height: 25vmin;
}

.progress > svg {
	height: 100%;
	display: block;
}

.progressbar-text {
	color : $bg-text-color !important;
	font-size: 4em;
}

/*********************/
/*  BootstrapDialog  */
/*********************/

.modal-content {
	width: 45vw;
}

.bootstrap-dialog-header {
	width: 100%
}

.btn-cancel {
	margin-left: 10px;
}
