<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Memory</title>
  <link rel="icon" type="images/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <script type="text/javascript" charset="UTF-8" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="javascripts/bootstrap.min.js"></script>
</head>
<body>
		<div class="container">
      <h1>Memory</h1>
      <div class="row">
        <div class="board col-sm-12">
          <div class="row">
            <div class="card col-sm-3">
              <div class="red-apple"></div>
            </div>
            <div class="card col-sm-3">
              <div class="yellow-lemon"></div>
            </div>
            <div class="card col-sm-3">
              <div class="watermelon"></div>
            </div>
            <div class="card col-sm-3">
              <div class="raspberry"></div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
