<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Memory</title>
  <link rel="icon" type="images/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/bootstrap-select.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <script type="text/javascript" charset="UTF-8" src="scripts/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="scripts/popper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="scripts/bootstrap.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="scripts/bootstrap-select.min.js"></script>
  <script type="module" charset="UTF-8" src="scripts/memory.js"></script>
</head>
<body>
	<div class="container">
    <h1>Memory</h1>
    <div class="row">
      <label for="select-cards-number" class="col-sm-2">Changer la difficulté :</label>
      <select name="difficulty" id="select-cards-number" class="selectpicker col-sm-1" data-live-search="true">
        <option value="4">4</option>
        <option value="8">8</option>
        <option value="12">12</option>
        <option value="16">16</option>
        <option value="24">24</option>
        <option value="28">28</option>
        <option selected value="36">36</option>
    </select>
    </div>
    <div class="row">
      <div class="board col-sm-12"></div>
    </div>
  </div>
</body>
</html>
